.sketch-picker {
  padding: 10px 10px 0px !important;
  box-sizing: initial !important;
  background: rgb(255, 255, 255) none repeat scroll 0% 0% !important;
  border-radius: 4px !important;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0.15) 0px 8px 16px !important;
  width: 300px !important;
}
